<div class="auth-container">
  <div *ngIf="!isCodeSent">
    <form class="auth-form" [formGroup]="forgotPasswordForm" (ngSubmit)="sendVerificationCode()">
      <h1>Forgot Password</h1>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">
      </div>
      <div class="error" *ngIf="forgotPasswordError">{{ forgotPasswordError }}</div>
      <button type="submit">Send Verification Code</button>
    </form>
  </div>
  <div *ngIf="isCodeSent && !isPasswordReset">
    <form class="auth-form" [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
      <div>
        <label for="verificationCode">Verification Code</label>
        <input type="text" id="verificationCode" formControlName="verificationCode">
      </div>
      <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword">
      </div>
      <div class="error" *ngIf="newPasswordError">{{ newPasswordError }}</div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
  <div *ngIf="isPasswordReset">
    <p>Password reset successful.</p>
  </div>
</div>
