/* You can add global styles to this file, and also import other style files */
/* Estilos para centrar el formulario en la pantalla */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilos para el formulario */
.auth-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

/* Estilos para los campos de formulario */
.auth-form input[type="email"],
.auth-form input[type="text"],
.auth-form input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para los botones de formulario */
.auth-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para los mensajes de error */
.auth-form .error-message {
  color: red;
  margin-bottom: 10px;
}
